header {
    text-align: center;
    font-size: 6vh;
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

body {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(135,135,142,1) 51%, rgba(17,27,29,1) 100%);
}

#search-city {
    border-bottom: solid 1px;
    color: black;
}

#search-button {
    margin-top: 10px;
}

#white {
    color: white;
}

#city-history {
    padding-bottom: 15px;
}

#display-city {
    border: solid 1px;
    color: black;
}

#city-details {
    padding-bottom: 7px;
    padding-top: 7px;
    font-size: 2vh;
}

#city-name, .weather-container p {
    font-size: 3vh;
    font-weight: bolder;
}

.weather-container img {
    width: 50%;
}

#days-forecast {
    border: solid 1px;
    color: black;
}

h4 {
    font-size: 2vh;
    color: white;
}

#day1, #day2, #day3, #day4, #day5 {
    background-color: rgb(53, 103, 141);
    margin: 5px;
}